body {
  min-width: 350px;
  overflow-x: hidden;
}
a:active,
a:hover {
  outline: 0;
}
a {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}      
a.new_items_found {
  font-weight: bold;
}
a.site-link {

}
span {
  padding-right: 5px;
}
em.no-new-items {
}
h5.list-header {
  margin: 5px;
  font-weight: bold;
}
h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
hr {
  margin-top: 5px;
  margin-bottom: 10px;
}